.content{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 5px;
    height: 100vh;
}
div{
    background: #f8f8f8;
    text-align: center;
    vertical-align: center;
    object-fit: scale-down;
}
div:nth-of-type(odd){
    background: white;
}

.one{
    grid-column: 1 / 7;
    grid-row: 1 / 4;
    background-color: white;
    vertical-align: center;
}

.name{
    font-family: 'Monoton', cursive;
    font-size: 4em;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #f16232;
}
.intro{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.connect-with-me{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: #f8f8f8;
  }
  
  .fa:hover {
      opacity: 0.7;
  }


#two{
    grid-column: 1 / 5;
    grid-row: 6 / 11;
}


img{
    width: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    transform: scale(1);
}
img:hover{
    box-shadow: 0 0 10px 1px rgb(255, 94, 0); 
}

#six{
    bottom: 0;
    width: 100%;
    background-color: #f16232;
    position: fixed;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
}

.socialMediared{
    background-color: #f16232;
    opacity: 0.5;
}

a {
outline: none;
text-decoration: none;
padding: 2px 1px 0;
text-emphasis-color: black;
}

a:link {
color: #265301;
}

a:visited {
color: #437A16;
}

a:focus {
border-bottom: 1px solid;
background: #BAE498;
}

a:hover {
border-bottom: 1px solid;
background: white;
}

a:active {
background: #265301;
color: #CDFEAA;
}