.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}
div{
    background: #f8f8f8;
    text-align: center;
    vertical-align: center;
    object-fit: scale-down;
}
div:nth-of-type(odd){
    background: white;
}

#one{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    vertical-align: center;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 4em;
    color: #f16232;
}
#two{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
#three{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#four{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    top: 0;
}
img{
    width: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    transform: scale(1);
    zoom: 0.2;
}
img:hover{
    box-shadow: 0 0 10px 1px rgb(255, 94, 0); 
}

#six{
    bottom: 0;
    width: 100%;
    background-color: #f16232;
    position: fixed;
    z-index: 100;
}