.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}
div{
    background: white;
    text-align: center;
    vertical-align: center;
    object-fit: scale-down;
}
div:nth-of-type(odd){
    background: white;
}

#one{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    vertical-align: center;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 4em;
    color: #f16232;
}
#two{
    grid-column: 1 / 2;
    grid-row: 2 / 6;
    max-height: 100vh;
    padding-left: 30px;
}
#three{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    font-size: 1.2em;
    text-align: justify;
    padding-left: 30px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#four{
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    top: 0;
    overflow: hidden;
}
img{
    width: 75%;
    max-width: 100%;
    max-height: 100vh;
    border: 2px solid white;
    border-radius: 4px;
    overflow: hidden;
}
img:hover{
    box-shadow: 0 0 10px 1px rgb(255, 94, 0); 
}

#six{
    bottom: 0;
    width: 100%;
    background-color: #f16232;
    position: fixed;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
}

a {
outline: none;
text-decoration: none;
padding: 2px 1px 0;
text-emphasis-color: black;
}

a:link {
color: #265301;
}

a:visited {
color: #437A16;
}

a:focus {
border-bottom: 1px solid;
background: #BAE498;
}

a:hover {
border-bottom: 1px solid;
background: white;
}

a:active {
background: #265301;
color: #CDFEAA;
}